---
const currentYear = new Date().getFullYear()
---

<footer>
    <section class="py-8">
        <div class="container">
            <p>
                &copy; {currentYear} - Portfolio. All rights reserved.
            </p>
        </div>
    </section>
</footer>
